.create-product {
    margin-bottom: 20px;
}

.create-product form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-top: 10px;
}

.create-product label {
    margin-bottom: 10px;
}

.create-product input {
    padding: 8px;
    font-size: 16px;
    margin-top: 5px;
}

.create-product button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.create-product button:hover {
    background-color: #45a049;
}
